@layout('layouts/main')
@set('title', 'Users List')

@section('body')
<ul>
  @each(user in users)
  <a id="user-{{ user.id }}"   href="{{ route('users.show', {id: user.id}) }}">
    <h3>{{ user.email }}</h3>
  </a>

  @endeach
</ul>
@endsection
