@layout('layouts/main')
@set('title', 'User {{ user.id }}')

@section('body')
{{--  <ul>
  @each(user in users)
  <a href="">
    <h3>{{ user.email }}</h3>
  </a>

  @endeach
</ul>  --}}
<div>
  </p>{{ user.email }}<p>

  <div>
    <button class="button is-success">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Save</span>
  </button>
</div>

</div>

<div>
  {{ inspect(user) }}
</div>
@endsection
